<launch>
    <node pkg="pepper_imitation" name="pepper_imitation_audio_player_node" type="pepper_imitation_audio_player_node" output="screen" />

    <param name="host"         type="string" value="10.77.3.19" />
    <param name="port"         type="int"    value="9559" />
    <param name="audio_folder" type="string" value="/home/nao/resources/audio/" />
</launch>
